// COLORS
$blue: #039BE5; $white-bg: #F3F3F3; $desc-gray: #7D7D7D; 
$btn-strike-text: #685555; $btn-strike-border: #D0C6C6;

// MARGINS
.m-0 { margin: 0; } .m-5 { margin: 5px; } .m-10 { margin: 10px; } .m-20 { margin: 20px; } .m-30 { margin: 30px; } .m-40 { margin: 40px; }
.mr-0 { margin-right: 0; } .mr-5 { margin-right: 5px; } .mr-10 { margin-right: 10px; } .mr-20 { margin-right: 20px; } .mr-30 { margin-right: 30px; } .mr-40 { margin-right: 40px; }
.ml-0 { margin-left: 0; } .ml-5 { margin-left: 5px; } .ml-10 { margin-left: 10px; } .ml-20 { margin-left: 20px; } .ml-30 { margin-left: 30px; } .ml-40 { margin-left: 40px; }
.mt-0 { margin-top: 0; } .mt-5 { margin-top: 5px; } .mt-10 { margin-top: 10px; } .mt-20 { margin-top: 20px; } .mt-30 { margin-top: 30px; } .mt-40 { margin-top: 40px; }
.mb-0 { margin-bottom: 0; } .mb-5 { margin-bottom: 5px; } .mb-10 { margin-bottom: 10px; } .mb-20 { margin-bottom: 20px; } .mb-30 { margin-bottom: 30px; } .mb-40 { margin-bottom: 40px; }

// PADDING
.p-0 { padding: 0; } .p-5 { padding: 5px; } .p-10 { padding: 10px; } .p-20 { padding: 20px; } .p-30 { padding: 30px; } .p-40 { padding: 40px; }
.pr-0 { padding-right: 0; } .pr-5 { padding-right: 5px; } .pr-10 { padding-right: 10px; } .pr-20 { padding-right: 20px; } .pr-30 { padding-right: 30px; } .pr-40 { padding-right: 40px; }
.pl-0 { padding-left: 0; } .pl-5 { padding-left: 5px; } .pl-10 { padding-left: 10px; } .pl-20 { padding-left: 20px; } .pl-30 { padding-left: 30px; } .pl-40 { padding-left: 40px; }
.pt-0 { padding-top: 0; } .pt-5 { padding-top: 5px; } .pt-10 { padding-top: 10px; } .pt-20 { padding-top: 20px; } .pt-30 { padding-top: 30px; } .pt-40 { padding-top: 40px; }
.pb-0 { padding-bottom: 0; } .pb-5 { padding-bottom: 5px; } .pb-10 { padding-bottom: 10px; } .pb-20 { padding-bottom: 20px; } .pb-30 { padding-bottom: 30px; } .pb-40 { padding-bottom: 40px; }


// FONT SETTINGS
$font-small: 10px; $font-normal: 13px; $font-medium: 15px; $font-big: 18px;
.bold { font-weight: bold; } .normal { font-weight: normal; }

.title { font-family: Poppins; font-style: normal; font-weight: bold; font-size: $font-big; color: black;  height: min-content; }
.desc { font-family: Roboto; font-style: normal; font-weight: normal; font-size: $font-normal; color: $desc-gray;  height: min-content; }

.menu { font-family: Poppins; font-style: normal; font-weight: 500; font-size: $font-medium; color: black;  height: min-content; }
.sub-menu { font-family: Poppins; font-style: normal; font-weight: 500; font-size: $font-normal; color: $desc-gray;  height: min-content; }

// HIERARCHY DEFAULT MEASURE
.dev-document { position: absolute; top: 0; bottom: 0; right: 0; left: 0; padding: 0 15px;
    .content { margin: 0 -15px; padding: 0 15px; padding-top: 65px; }
}
     
